* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calculator {
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 400px;
  margin: 0px auto;
  border: solid 2px #ccc;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 40px;
}
#result {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: solid 2px #ccc;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  transform: translateY(-2px);
}
.clear {
  background-color: red;
  color: white;
}
.operator,
.equal {
  background-color: blue;
  color: white;
}
.equals {
  grid-row: span 2;
  background-color: green;
  color: white;
}
